fastapi
uvicorn[standard]
sentry-sdk
prometheus-fastapi-instrumentator
prometheus_client
sqlalchemy
asyncpg
pydantic>=2.7.4,<3.0.0
pydantic-settings>=2.4.0,<3.0.0
python-dotenv
redis
celery
PyPDF2
pikepdf
alembic
httpx
python-jose
python-multipart
psycopg2-binary
orjson
pytest
pytest-asyncio
pytest-cov
pytest-mock
pytest-timeout
pytest-xdist
numpy
langchain
langchain-community
langchain-chroma
authlib
fastapi-limiter