aiohappyeyeballs==2.6.1
aiohttp==3.9.3
aioredis==2.0.1
aiosignal==1.3.2
alembic==1.13.1
amqp==5.3.1
annotated-types==0.7.0
anyio==4.9.0
asgiref==3.8.1
asttokens==3.0.0
async-timeout==5.0.1
asyncpg==0.29.0
attrs==25.3.0
Authlib==1.6.0
backoff==2.2.1
bcrypt==4.1.2
bidict==0.23.1
billiard==4.2.1
blinker==1.9.0
blis==0.7.11
Brotli==1.1.0
build==1.2.2.post1
cachetools==5.3.2
catalogue==2.0.10
celery==5.5.3
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
chroma-hnswlib==0.7.6
chromadb==0.6.3
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cloudpathlib==0.16.0
coloredlogs==15.0.1
confection==0.1.5
ConfigArgParse==1.7.1
contourpy==1.3.2
coverage==7.9.1
cryptography==45.0.4
cycler==0.12.1
cymem==2.0.11
dataclasses-json==0.6.7
decorator==5.2.1
Deprecated==1.2.18
distro==1.9.0
dnspython==2.7.0
durationpy==0.9
ecdsa==0.19.1
email-validator==2.1.0.post1
en_core_web_lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.8.0/en_core_web_lg-3.8.0-py3-none-any.whl#sha256=293e9547a655b25499198ab15a525b05b9407a75f10255e405e8c3854329ab63
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
execnet==2.1.1
executing==2.2.0
fastapi
fastapi-limiter==0.1.6
filelock==3.18.0
flake8==7.2.0
Flask==3.1.1
flask-cors==6.0.1
Flask-Login==0.6.3
flatbuffers==25.2.10
fonttools==4.58.0
frozenlist==1.6.0
fsspec==2025.3.2
gevent==25.5.1
geventhttpclient==2.3.4
google-auth==2.40.1
googleapis-common-protos==1.70.0
greenlet==3.2.2
grpcio==1.71.0
h11==0.16.0
httpcore==1.0.9
httptools==0.6.4
httpx==0.27.0
httpx-sse==0.4.0
huggingface-hub==0.31.2
humanfriendly==10.0
idna==3.10
importlib_metadata==8.6.1
importlib_resources==6.5.2
iniconfig==2.1.0
ipython==9.2.0
ipython_pygments_lexers==1.1.1
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.0
jsonpatch==1.33
jsonpickle==4.0.5
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
kiwisolver==1.4.8
kombu==5.5.4
kubernetes==32.0.1
langchain
langchain-chroma==0.2.3
langchain-community==0.3.24
langchain-core==0.3.59
langchain-ollama==0.3.2
langchain-text-splitters==0.3.8
langcodes==3.5.0
langsmith==0.3.42
language_data==1.3.0
locust==2.24.0
locust-cloud==1.23.1
Mako==1.3.10
marisa-trie==1.2.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.26.1
matplotlib==3.10.3
matplotlib-inline==0.1.7
mccabe==0.7.0
mdurl==0.1.2
mmh3==5.1.0
mpmath==1.3.0
msgpack==1.1.1
multidict==6.4.3
murmurhash==1.0.12
mypy==1.16.1
mypy_extensions==1.1.0
networkx==3.4.2
nltk==3.8.1
node==1.2.2
nodeenv==1.9.1
npm==0.1.1
numpy==1.24.3
oauthlib==3.2.2
odict==1.9.0
ollama==0.4.8
onnxruntime==1.22.0
opentelemetry-api==1.33.0
opentelemetry-exporter-otlp-proto-common==1.33.0
opentelemetry-exporter-otlp-proto-grpc==1.33.0
opentelemetry-instrumentation==0.54b0
opentelemetry-instrumentation-asgi==0.54b0
opentelemetry-instrumentation-fastapi==0.54b0
opentelemetry-proto==1.33.0
opentelemetry-sdk==1.33.0
opentelemetry-semantic-conventions==0.54b0
opentelemetry-util-http==0.54b0
optional-django==0.3.0
orjson==3.10.18
overrides==7.7.0
packaging==24.2
pandas==2.2.3
parso==0.8.4
passlib==1.7.4
pathspec==0.12.1
pillow==11.2.1
platformdirs==4.3.8
pluggy==1.6.0
plumber==1.7
postgres==4.0
posthog==4.0.1
preshed==3.0.9
prisma==0.15.0
prometheus-client==0.19.0
prometheus-fastapi-instrumentator==7.1.0
prompt_toolkit==3.0.51
propcache==0.3.1
protobuf==5.29.4
psutil==5.9.8
psycopg2-binary==2.9.9
psycopg2-pool==1.2
pure_eval==0.2.3
pyarrow==20.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycodestyle==2.13.0
pycparser==2.22
pydantic>=2.7.4,<3.0.0
pydantic-settings==2.1.0
pydantic_core==2.16.2
pyflakes==3.3.2
Pygments==2.19.1
pylance==0.29.0
pyparsing==3.2.3
PyPika==0.48.9
pyproject_hooks==1.2.0
pytest==8.2.0
pytest-asyncio==0.24.0
pytest-cov==5.0.0
pytest-mock==3.14.0
pytest-timeout==2.3.1
pytest-xdist==3.6.1
python-dateutil==2.8.2
python-dotenv==1.0.1
python-engineio==4.12.2
python-jose==3.3.0
python-json-logger==2.0.7
python-multipart==0.0.9
python-socketio==5.13.0
pytz==2024.1
pyvis==0.3.2
PyYAML==6.0.2
pyzmq==27.0.0
react==4.3.0
redis==5.0.1
referencing==0.36.2
regex==2024.11.6
requests==2.31.0
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rich==14.0.0
roundrobin==0.0.4
rpds-py==0.24.0
rsa==4.9.1
safetensors==0.5.3
scikit-learn==1.4.0
scipy==1.15.3
seaborn==0.13.2
sentence-transformers==4.1.0
sentry-sdk==2.30.0
shellingham==1.5.4
simple-websocket==1.1.0
six==1.17.0
smart-open==6.4.0
sniffio==1.3.1
spacy==3.7.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.27
srsly==2.5.1
stack-data==0.6.3
starlette==0.36.3
sympy==1.14.0
tailwindcss==0.0.1
tenacity==8.2.3
thinc==8.2.5
threadpoolctl==3.6.0
tokenizers==0.21.1
tomlkit==0.13.3
torch==2.2.0
tqdm==4.67.1
traitlets==5.14.3
transformers==4.52.4
typer==0.9.4
types-passlib==1.7.7.20250602
types-pyasn1==0.6.0.20250516
types-python-jose==3.5.0.20250531
typescript==0.0.12
typing-inspect==0.9.0
typing-inspection==0.4.0
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
uvicorn==0.27.1
vine==5.1.0
wasabi==1.1.3
watchfiles==1.0.5
wcwidth==0.2.13
weasel==0.3.4
websocket-client==1.8.0
websockets==13.0
Werkzeug==3.1.3
wrapt==1.17.2
wsl==0.12
wsproto==1.2.0
yarl==1.20.0
zipp==3.21.0
zope.component==6.0
zope.deferredimport==5.0
zope.deprecation==5.1
zope.event==5.0
zope.hookable==7.0
zope.interface==7.2
zope.lifecycleevent==5.1
zope.proxy==6.1
zstandard==0.23.0
