alembic
asyncpg
authlib
celery
fastapi
fastapi-limiter
httpx
langchain
langchain-chroma
langchain-community
numpy
orjson
pikepdf
prometheus-fastapi-instrumentator
psycopg2-binary
pyjwt
PyPDF2
pydantic
pydantic-settings
python-dotenv
python-jose
python-multipart
pytest
pytest-asyncio
pytest-cov
pytest-mock
pytest-timeout
pytest-xdist
redis
sentry-sdk
sqlalchemy
uvicorn[standard]